
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>

        <h3> Sejam bem vindos ao projeto</h3>

        <p>
            Selecione a ação desejada:
        </p>

        <ul>
            <li> <a id="CadastrarEstoque" href="/Estoque/Cadastro">Cadastrar Estoques</a> </li>
            <li><a href="/Estoque/Consulta">Consultar Estoques</a> </li>
        </ul>

        <ul>
            <li> <a href="/Produto/Cadastro">Cadastrar Produtos</a> </li>
            <li><a href="/Produto/Consulta">Consultar Produtos</a> </li>


        </ul>

    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
